@{
	ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container mt-3">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="screen">
				<div class="screen__content">
                    <div class="login_logo">
                        <img src="~/Content/Images/jjm_logo.png" class="img" alt="jjm_logo" width="100px" />
                    </div>
					<form class="login" action="/dashboard">
						<div class="login__field">
							<i class="login__icon fa fa-user"></i>
							<input type="text" class="login__input" placeholder="User name">
						</div>
						<div class="login__field">
							<i class="login__icon fa fa-lock"></i>
							<input type="password" class="login__input" placeholder="Password">
						</div>
						<button class="button login__submit">
							<span class="button__text">Log In Now</span>
							<i class="button__icon fa fa-chevron-right"></i>
						</button>
					</form>
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>
			</div>
		</div>
	</div>

</div>
